/target
/Cargo.lock
.DS_Store
.idea
ccov.zip
default.profraw
lcov.info
coverage
*.profraw
/doc
.env
#### node #### 
node_modules
*.node

### Editors ###
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tasks.json

.idea/*
!.idea/runConfigurations/*
.access^